## Boosting Models for Project 4 - Aakash, Nellie, Chaim, and Matt

In [77]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [78]:
data = pd.read_csv('/Users/aakashtandel/Desktop/train_weather.csv', index_col=0)
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,dewpoint,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,58,65,0,9,0.0,29.39,30.11,5.8,18,6.5
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,58,65,0,9,0.0,29.39,30.11,5.8,18,6.5
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,58,65,0,9,0.0,29.39,30.11,5.8,18,6.5
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,58,65,0,9,0.0,29.39,30.11,5.8,18,6.5
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,58,65,0,9,0.0,29.39,30.11,5.8,18,6.5

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 26 columns):
Trap                      4616 non-null object
NumMosquitos              4616 non-null int64
WnvPresent                4616 non-null int64
Year                      4616 non-null int64
DayofYear                 4616 non-null int64
CULEX ERRATICUS           4616 non-null int64
CULEX PIPIENS             4616 non-null int64
CULEX PIPIENS/RESTUANS    4616 non-null int64
CULEX RESTUANS            4616 non-null int64
CULEX SALINARIUS          4616 non-null int64
CULEX TARSALIS            4616 non-null int64
CULEX TERRITANS           4616 non-null int64
tmax                      4616 non-null int64
tmin                      4616 non-null int64
tavg                      4616 non-null int64
depart                    4616 non-null int64
dewpoint                  4616 non-null int64
wetbulb                   4616 non-null int64
heat                      4616 non-null int64
cool                      4616 non-null int64
preciptotal               4616 non-null float64
stnpressure               4616 non-null float64
sealevel                  4616 non-null float64
resultspeed               4616 non-null float64
resultdir                 4616 non-null int64
avgspeed                  4616 non-null float64
dtypes: float64(5), int64(20), object(1)
memory usage: 973.7+ KB

In [80]:
def T_stripper(string):
    return string[1:4]
data['Trapp'] = data['Trap'].apply(T_stripper)
data.Trapp = data.Trapp.astype(int)
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,Trapp
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,2
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,7
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,15
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,45
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,46

In [81]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 27 columns):
Trap                      4616 non-null object
NumMosquitos              4616 non-null int64
WnvPresent                4616 non-null int64
Year                      4616 non-null int64
DayofYear                 4616 non-null int64
CULEX ERRATICUS           4616 non-null int64
CULEX PIPIENS             4616 non-null int64
CULEX PIPIENS/RESTUANS    4616 non-null int64
CULEX RESTUANS            4616 non-null int64
CULEX SALINARIUS          4616 non-null int64
CULEX TARSALIS            4616 non-null int64
CULEX TERRITANS           4616 non-null int64
tmax                      4616 non-null int64
tmin                      4616 non-null int64
tavg                      4616 non-null int64
depart                    4616 non-null int64
dewpoint                  4616 non-null int64
wetbulb                   4616 non-null int64
heat                      4616 non-null int64
cool                      4616 non-null int64
preciptotal               4616 non-null float64
stnpressure               4616 non-null float64
sealevel                  4616 non-null float64
resultspeed               4616 non-null float64
resultdir                 4616 non-null int64
avgspeed                  4616 non-null float64
Trapp                     4616 non-null int64
dtypes: float64(5), int64(21), object(1)
memory usage: 1009.8+ KB

Now that everything is an integer or float it should be easier to model.

In [82]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import log_loss, accuracy_score
from collections import Counter

In [83]:
X = data.drop(['Trap', 'WnvPresent'], axis=1)
y = data[['WnvPresent']]

In [84]:
X.head()

,NumMosquitos,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,...,wetbulb,heat,cool,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,Trapp
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,2,2007,149,0,0,1,1,0,0,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,2
2007-05-29,1,2007,149,0,0,0,1,0,0,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,7
2007-05-29,5,2007,149,0,0,1,1,0,0,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,15
2007-05-29,2,2007,149,0,0,0,1,0,0,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,45
2007-05-29,1,2007,149,0,0,0,1,0,0,0,...,65,0,9,0.0,29.39,30.11,5.8,18,6.5,46

In [85]:
y.head()

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [87]:
print ('Train Label Distribution')
print ( Counter(y_train) )
print ('Test Label Distribution')
print ( Counter(y_test) )

Train Label Distribution
Counter({'WnvPresent': 1})
Test Label Distribution
Counter({'WnvPresent': 1})

### Simple Decision Tree

In [88]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)
dt_prob = dt.predict_proba(X_test)
dt_accuracy = accuracy_score(y_test, dt_pred)
dt_log_loss = log_loss(y_test, dt_pred)
dt_nodes = dt.tree_.node_count
print ('Decision Tree')
print ('Accuracy: ', str(dt_accuracy))
print ('Log Loss: ', str(dt_log_loss))
print ('Number of Nodes: ', str(dt_nodes))

Decision Tree
('Accuracy: ', '0.896103896104')
('Log Loss: ', '3.58848237684')
('Number of Nodes: ', '657')

### AdaBoost Classifier

In [89]:
adaboost = AdaBoostClassifier(
            base_estimator=DecisionTreeClassifier(max_depth=1), 
            algorithm='SAMME', n_estimators=1000, random_state=100)
adaboost.fit(X_train, y_train)
ada_pred = adaboost.predict(X_test)
ada_pred_proba = adaboost.predict_proba(X_test)
ada_accuracy = accuracy_score(y_test, ada_pred)
ada_log_loss = log_loss(y_test, ada_pred)
print ('AdaBoost')
print ('Accuracy: ', str(ada_accuracy))
print ('Log Loss: ', str(ada_log_loss))

AdaBoost
('Accuracy: ', '0.922077922078')
('Log Loss: ', '2.69134360996')

### Gradient Boost Classifier

In [90]:
gbc = GradientBoostingClassifier(
            max_depth=1, warm_start=True, 
            n_estimators=1000, random_state=100)
gbc.fit(X_train, y_train)
gbc_pred = gbc.predict(X_test)
gbc_pred_proba = gbc.predict_proba(X_test)
gbc_accuracy = accuracy_score(y_test, gbc_pred)
gbc_log_loss = log_loss(y_test, gbc_pred)
print ('Gradient Boost')
print ('Accuracy: ', str(gbc_accuracy))
print ('Log Loss: ', str(gbc_log_loss))

Gradient Boost
('Accuracy: ', '0.927489177489')
('Log Loss: ', '2.50444373856')

### XGBoost

In [91]:
import xgboost as xgb

In [92]:
params = {'objective':'binary:logistic', 'max_depth':2, 'silent':1, 'eta':1}
num_rounds = 5
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test)

In [93]:
boosted = xgb.train(params, dtrain, num_rounds)

In [94]:
# watchlist = [(dtest, 'Test'), (dtrain, 'Train')]
# boosted = xgb.train(params, dtrain, num_rounds, watchlist)

In [95]:
# preds_prob = boosted.predict(dtest)
# preds_prob

In [96]:
# labels = dtest.get_label()
# preds = preds_prob > 0.5 
# correct = 0 
# for each in range(len(preds)):
#     if (labels[each]==preds[each]):
#         correct += 1
# print ('Correctly predicted: ', str(correct), '/', str(len(preds)))

In [97]:
from xgboost.sklearn import XGBClassifier 
boost = XGBClassifier(**params).fit(X_train, y_train)

In [98]:
acc = accuracy_score(y_test, preds)
acc

0.93073593073593075