## Boosting Models for Project 4 - Aakash, Nellie, Chaim, and Matt

In [1]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [2]:
data = pd.read_csv('/Users/aakashtandel/Desktop/train_weather2e.csv', index_col='Date')
data.head()

,Species,Trap,Latitude,Longitude,NumMosquitos,WnvPresent,Year,DayofYear,tmax_x,tmin_x,...,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,wblast7,wblast30,wblast90
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,2,1,41.954690,-87.800991,1,0,2007,149,88,60,...,2007,31.0,35.0,0.0,1.08,0.735,0.0,412.0,1149.0,0.0
2007-05-29,3,1,41.954690,-87.800991,1,0,2007,149,88,60,...,2007,31.0,35.0,0.0,1.08,0.735,0.0,412.0,1149.0,0.0
2007-05-29,3,8,41.994991,-87.769279,1,0,2007,149,88,60,...,2007,31.0,35.0,0.0,1.08,0.735,0.0,412.0,1149.0,0.0
2007-05-29,2,15,41.974089,-87.824812,1,0,2007,149,88,60,...,2007,31.0,35.0,0.0,1.08,0.735,0.0,412.0,1149.0,0.0
2007-05-29,3,15,41.974089,-87.824812,4,0,2007,149,88,60,...,2007,31.0,35.0,0.0,1.08,0.735,0.0,412.0,1149.0,0.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8475 entries, 2007-05-29 to 2013-09-26
Data columns (total 46 columns):
Species          8475 non-null int64
Trap             8475 non-null int64
Latitude         8475 non-null float64
Longitude        8475 non-null float64
NumMosquitos     8475 non-null int64
WnvPresent       8475 non-null int64
Year             8475 non-null int64
DayofYear        8475 non-null int64
tmax_x           8475 non-null int64
tmin_x           8475 non-null int64
tavg_x           8475 non-null float64
depart_x         8475 non-null float64
dewpoint_x       8475 non-null int64
wetbulb_x        8475 non-null float64
heat_x           8475 non-null float64
cool_x           8475 non-null float64
preciptotal_x    8475 non-null float64
stnpressure_x    8475 non-null float64
sealevel_x       8475 non-null float64
resultspeed_x    8475 non-null float64
resultdir_x      8475 non-null int64
avgspeed_x       8475 non-null float64
tmax_y           8475 non-null int64
tmin_y           8475 non-null int64
tavg_y           8475 non-null float64
depart_y         8475 non-null float64
dewpoint_y       8475 non-null int64
wetbulb_y        8475 non-null float64
heat_y           8475 non-null float64
cool_y           8475 non-null float64
preciptotal_y    8475 non-null float64
stnpressure_y    8475 non-null float64
sealevel_y       8475 non-null float64
resultspeed_y    8475 non-null float64
resultdir_y      8475 non-null int64
avgspeed_y       8475 non-null float64
year             8475 non-null int64
coollast7        8475 non-null float64
coollast30       8475 non-null float64
coollast90       8475 non-null float64
preciplast7      8475 non-null float64
preciplast30     8475 non-null float64
preciplast90     8475 non-null float64
wblast7          8475 non-null float64
wblast30         8475 non-null float64
wblast90         8475 non-null float64
dtypes: float64(31), int64(15)
memory usage: 3.0+ MB

Now that everything is an integer or float it should be easier to model.

In [5]:
data_test = pd.read_csv('/Users/aakashtandel/Desktop/test_weather3e.csv', index_col='Date')
data_test.head()

,Id,Species,Trap,Latitude,Longitude,tmax_x,tmin_x,tavg_x,depart_x,dewpoint_x,...,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,wblast7,wblast30,wblast90,DayofYear
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,1,2,1,41.95469,-87.800991,86,61,0.0,7.0,56,...,64.0,12.0,0.0,2.14,1.65,2.995,479.0,1187.0,591.5,163
2008-06-11,2,3,1,41.95469,-87.800991,86,61,0.0,7.0,56,...,64.0,12.0,0.0,2.14,1.65,2.995,479.0,1187.0,591.5,163
2008-06-11,3,1,1,41.95469,-87.800991,86,61,0.0,7.0,56,...,64.0,12.0,0.0,2.14,1.65,2.995,479.0,1187.0,591.5,163
2008-06-11,4,4,1,41.95469,-87.800991,86,61,0.0,7.0,56,...,64.0,12.0,0.0,2.14,1.65,2.995,479.0,1187.0,591.5,163
2008-06-11,5,6,1,41.95469,-87.800991,86,61,0.0,7.0,56,...,64.0,12.0,0.0,2.14,1.65,2.995,479.0,1187.0,591.5,163

In [6]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116293 entries, 2008-06-11 to 2014-10-02
Data columns (total 44 columns):
Id               116293 non-null int64
Species          116293 non-null int64
Trap             116293 non-null int64
Latitude         116293 non-null float64
Longitude        116293 non-null float64
tmax_x           116293 non-null int64
tmin_x           116293 non-null int64
tavg_x           116293 non-null float64
depart_x         116293 non-null float64
dewpoint_x       116293 non-null int64
wetbulb_x        116293 non-null float64
heat_x           116293 non-null float64
cool_x           116293 non-null float64
preciptotal_x    116293 non-null float64
stnpressure_x    116293 non-null float64
sealevel_x       116293 non-null float64
resultspeed_x    116293 non-null float64
resultdir_x      116293 non-null int64
avgspeed_x       116293 non-null float64
tmax_y           116293 non-null int64
tmin_y           116293 non-null int64
tavg_y           116293 non-null float64
depart_y         116293 non-null float64
dewpoint_y       116293 non-null int64
wetbulb_y        116293 non-null float64
heat_y           116293 non-null float64
cool_y           116293 non-null float64
preciptotal_y    116293 non-null float64
stnpressure_y    116293 non-null float64
sealevel_y       116293 non-null float64
resultspeed_y    116293 non-null float64
resultdir_y      116293 non-null int64
avgspeed_y       116293 non-null float64
year             116293 non-null int64
coollast7        116293 non-null float64
coollast30       116293 non-null float64
coollast90       116293 non-null float64
preciplast7      116293 non-null float64
preciplast30     116293 non-null float64
preciplast90     116293 non-null float64
wblast7          116293 non-null float64
wblast30         116293 non-null float64
wblast90         116293 non-null float64
DayofYear        116293 non-null int64
dtypes: float64(31), int64(13)
memory usage: 39.9+ MB

In [7]:
data_test = data_test.rename(columns={'year': 'Year'})
data = data.drop(['year', 'NumMosquitos', 'Latitude', 'Longitude'], axis=1)
data_test = data_test.drop(['Latitude', 'Longitude'], axis=1)

In [8]:
data = data.reindex_axis(sorted(data.columns), axis=1)
data_test = data_test.reindex_axis(sorted(data_test.columns), axis=1)

In [10]:
print (data.info())
print (data_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 8475 entries, 2007-05-29 to 2013-09-26
Data columns (total 42 columns):
DayofYear        8475 non-null int64
Species          8475 non-null int64
Trap             8475 non-null int64
WnvPresent       8475 non-null int64
Year             8475 non-null int64
avgspeed_x       8475 non-null float64
avgspeed_y       8475 non-null float64
cool_x           8475 non-null float64
cool_y           8475 non-null float64
coollast30       8475 non-null float64
coollast7        8475 non-null float64
coollast90       8475 non-null float64
depart_x         8475 non-null float64
depart_y         8475 non-null float64
dewpoint_x       8475 non-null int64
dewpoint_y       8475 non-null int64
heat_x           8475 non-null float64
heat_y           8475 non-null float64
preciplast30     8475 non-null float64
preciplast7      8475 non-null float64
preciplast90     8475 non-null float64
preciptotal_x    8475 non-null float64
preciptotal_y    8475 non-null float64
resultdir_x      8475 non-null int64
resultdir_y      8475 non-null int64
resultspeed_x    8475 non-null float64
resultspeed_y    8475 non-null float64
sealevel_x       8475 non-null float64
sealevel_y       8475 non-null float64
stnpressure_x    8475 non-null float64
stnpressure_y    8475 non-null float64
tavg_x           8475 non-null float64
tavg_y           8475 non-null float64
tmax_x           8475 non-null int64
tmax_y           8475 non-null int64
tmin_x           8475 non-null int64
tmin_y           8475 non-null int64
wblast30         8475 non-null float64
wblast7          8475 non-null float64
wblast90         8475 non-null float64
wetbulb_x        8475 non-null float64
wetbulb_y        8475 non-null float64
dtypes: float64(29), int64(13)
memory usage: 2.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 116293 entries, 2008-06-11 to 2014-10-02
Data columns (total 42 columns):
DayofYear        116293 non-null int64
Id               116293 non-null int64
Species          116293 non-null int64
Trap             116293 non-null int64
Year             116293 non-null int64
avgspeed_x       116293 non-null float64
avgspeed_y       116293 non-null float64
cool_x           116293 non-null float64
cool_y           116293 non-null float64
coollast30       116293 non-null float64
coollast7        116293 non-null float64
coollast90       116293 non-null float64
depart_x         116293 non-null float64
depart_y         116293 non-null float64
dewpoint_x       116293 non-null int64
dewpoint_y       116293 non-null int64
heat_x           116293 non-null float64
heat_y           116293 non-null float64
preciplast30     116293 non-null float64
preciplast7      116293 non-null float64
preciplast90     116293 non-null float64
preciptotal_x    116293 non-null float64
preciptotal_y    116293 non-null float64
resultdir_x      116293 non-null int64
resultdir_y      116293 non-null int64
resultspeed_x    116293 non-null float64
resultspeed_y    116293 non-null float64
sealevel_x       116293 non-null float64
sealevel_y       116293 non-null float64
stnpressure_x    116293 non-null float64
stnpressure_y    116293 non-null float64
tavg_x           116293 non-null float64
tavg_y           116293 non-null float64
tmax_x           116293 non-null int64
tmax_y           116293 non-null int64
tmin_x           116293 non-null int64
tmin_y           116293 non-null int64
wblast30         116293 non-null float64
wblast7          116293 non-null float64
wblast90         116293 non-null float64
wetbulb_x        116293 non-null float64
wetbulb_y        116293 non-null float64
dtypes: float64(29), int64(13)
memory usage: 38.2+ MB
None

In [11]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import log_loss, accuracy_score
from collections import Counter

In [12]:
X = data.drop(['WnvPresent'], axis=1)
y = data[['WnvPresent']]

In [13]:
X.head()

,DayofYear,Species,Trap,Year,avgspeed_x,avgspeed_y,cool_x,cool_y,coollast30,coollast7,...,tavg_y,tmax_x,tmax_y,tmin_x,tmin_y,wblast30,wblast7,wblast90,wetbulb_x,wetbulb_y
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,149,2,1,2007,6.5,7.4,9.0,12.0,35.0,31.0,...,0.0,88,88,60,65,1149.0,412.0,0.0,65.0,66.0
2007-05-29,149,3,1,2007,6.5,7.4,9.0,12.0,35.0,31.0,...,0.0,88,88,60,65,1149.0,412.0,0.0,65.0,66.0
2007-05-29,149,3,8,2007,6.5,7.4,9.0,12.0,35.0,31.0,...,0.0,88,88,60,65,1149.0,412.0,0.0,65.0,66.0
2007-05-29,149,2,15,2007,6.5,7.4,9.0,12.0,35.0,31.0,...,0.0,88,88,60,65,1149.0,412.0,0.0,65.0,66.0
2007-05-29,149,3,15,2007,6.5,7.4,9.0,12.0,35.0,31.0,...,0.0,88,88,60,65,1149.0,412.0,0.0,65.0,66.0

In [14]:
y.head()

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [15]:
sample = pd.DataFrame()
sample['Id'] = data_test['Id']
sample.head()

            Id
Date
2008-06-11   1
2008-06-11   2
2008-06-11   3
2008-06-11   4
2008-06-11   5

In [16]:
data_test = data_test.drop('Id', 1)

### Simple Decision Tree

In [17]:
dt = DecisionTreeClassifier()
dt.fit(X, y)
dt_pred = dt.predict(data_test)
dt_prob = dt.predict_proba(data_test)[:,1]
dt_nodes = dt.tree_.node_count
print ('Decision Tree')
print ('Number of Nodes: ', str(dt_nodes))
sample['WnvPresent_DecisionTree'] = dt_prob

Decision Tree
('Number of Nodes: ', '1817')

In [18]:
sample.head()

            Id  WnvPresent_DecisionTree
Date
2008-06-11   1                      0.0
2008-06-11   2                      0.0
2008-06-11   3                      0.0
2008-06-11   4                      0.0
2008-06-11   5                      0.0

### AdaBoost Classifier

In [19]:
adaboost = AdaBoostClassifier(
            base_estimator=DecisionTreeClassifier(max_depth=1), 
            algorithm='SAMME', n_estimators=1000, random_state=100)
adaboost.fit(X, y)
ada_pred = adaboost.predict(data_test)
ada_pred_proba = adaboost.predict_proba(data_test)[:,1]
print ('AdaBoost')
sample['WnvPresent_Ada'] = ada_pred_proba
sample.head()

/Users/aakashtandel/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoost

            Id  WnvPresent_DecisionTree  WnvPresent_Ada
Date
2008-06-11   1                      0.0        0.397339
2008-06-11   2                      0.0        0.396222
2008-06-11   3                      0.0        0.397339
2008-06-11   4                      0.0        0.364322
2008-06-11   5                      0.0        0.364322

### Gradient Boost Classifier

In [20]:
gbc = GradientBoostingClassifier(
            max_depth=1, warm_start=True, 
            n_estimators=1000, random_state=100)
gbc.fit(X, y)
gbc_pred = gbc.predict(data_test)
gbc_pred_proba = gbc.predict_proba(data_test)[:,1]
print ('Gradient Boost')
sample['WnvPresent_gradientboost'] = gbc_pred_proba
sample.head()

Gradient Boost

,Id,WnvPresent_DecisionTree,WnvPresent_Ada,WnvPresent_gradientboost
Date,,,,
2008-06-11,1,0.0,0.397339,0.005515
2008-06-11,2,0.0,0.396222,0.002596
2008-06-11,3,0.0,0.397339,0.006085
2008-06-11,4,0.0,0.364322,0.000530
2008-06-11,5,0.0,0.364322,0.000530

### XGBoost

In [21]:
import xgboost as xgb

In [53]:
params = {'objective':'binary:logistic', 'max_depth':2, 'silent':1, 'eta':1}
num_rounds = 5
dtrain = xgb.DMatrix(X, label=y)
dtest = xgb.DMatrix(data_test)

In [54]:
boosted = xgb.train(params, dtrain, num_rounds)

In [49]:
# cv_xgb = xgb.cv(params = params, dtrain = dtrain, num_boost_round = 3000, nfold = 5,
#                 metrics = ['error'], # Make sure you enter metrics inside a list or you may encounter issues!
#                 early_stopping_rounds = 100) # Look for early stopping that minimizes error

In [44]:
# cv_xgb.tail()

In [45]:
# cv_xgb.shape

In [55]:
preds_prob = boosted.predict(dtest)
sample['WnvPresent_xgboost'] = preds_prob
sample.head()

,Id,WnvPresent_DecisionTree,WnvPresent_Ada,WnvPresent_gradientboost,WnvPresent_xgboost
Date,,,,,
2008-06-11,1,0.0,0.397339,0.005515,0.019555
2008-06-11,2,0.0,0.396222,0.002596,0.003192
2008-06-11,3,0.0,0.397339,0.006085,0.019555
2008-06-11,4,0.0,0.364322,0.000530,0.003192
2008-06-11,5,0.0,0.364322,0.000530,0.003192

In [34]:
sample.shape

(116293, 5)

In [35]:
sample_xgboost = sample.copy(deep=True)
sample_xgboost = sample_xgboost.drop(['WnvPresent_DecisionTree', 'WnvPresent_Ada', 'WnvPresent_gradientboost'], 1)

In [36]:
sample_xgboost.set_index('Id', inplace=True)

In [37]:
sample_xgboost = sample_xgboost.sort_index(axis=1, ascending=True)

In [38]:
sample_xgboost.head()

    WnvPresent_xgboost
Id
1             0.019555
2             0.003192
3             0.019555
4             0.003192
5             0.003192

In [39]:
sample_xgboost = sample_xgboost.rename(columns={'WnvPresent_xgboost': 'WnvPresent'})
sample_xgboost.head()

    WnvPresent
Id
1     0.019555
2     0.003192
3     0.019555
4     0.003192
5     0.003192

In [40]:
sample_xgboost.to_csv('sample_xgboost.csv')