## Boosting Models for Project 4 - Aakash, Nellie, Chaim, and Matt

In [57]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [58]:
data = pd.read_csv('/Users/aakashtandel/Desktop/train_weather3.csv', index_col='Date')
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,resultspeed_y,resultdir_y,avgspeed_y,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,5.8,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,5.8,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,5.8,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,5.8,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,5.8,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0

In [59]:
data.shape

(4616, 183)

In [60]:
# def T_stripper(string):
#     return string[1:4]
# data['Trapp'] = data['Trap'].apply(T_stripper)
# data.Trapp = data.Trapp.astype(int)
# data.head()

In [61]:
data['UNSPECIFIED CULEX'] = 0 
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,resultdir_y,avgspeed_y,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,UNSPECIFIED CULEX
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0

In [62]:
data = data.drop(['Trap', 'NumMosquitos'], axis=1)

In [63]:
data.shape

(4616, 182)

In [64]:
data.head()

,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,...,resultdir_y,avgspeed_y,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,UNSPECIFIED CULEX
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,0,2007,149,0,0,1,1,0,0,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,0,2007,149,0,0,0,1,0,0,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,0,2007,149,0,0,1,1,0,0,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,0,2007,149,0,0,0,1,0,0,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0
2007-05-29,0,2007,149,0,0,0,1,0,0,0,...,16,7.4,2007,31.0,35.0,0.0,1.08,0.735,0.0,0

Now that everything is an integer or float it should be easier to model.

In [65]:
data_test = pd.read_csv('/Users/aakashtandel/Desktop/test_weather3.csv', index_col='Date')
data_test.head()

,Id,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,...,resultspeed_y,resultdir_y,avgspeed_y,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,1,T002,0,0,1,0,0,0,0,0,...,9.4,18,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995
2008-06-11,2,T002,0,0,0,1,0,0,0,0,...,9.4,18,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995
2008-06-11,3,T002,0,1,0,0,0,0,0,0,...,9.4,18,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995
2008-06-11,4,T002,0,0,0,0,1,0,0,0,...,9.4,18,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995
2008-06-11,5,T002,0,0,0,0,0,0,1,0,...,9.4,18,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995

In [66]:
data_test.shape

(116293, 195)

In [67]:
data_test['UNSPECIFIED CULEX'].value_counts()

0    101948
1     14345
Name: UNSPECIFIED CULEX, dtype: int64

In [68]:
data_test = data_test.drop(['Trap'], axis=1)

In [69]:
# data_test['Trapp'] = data_test['Trap'].apply(T_stripper)
# data_test.Trapp = data_test.Trapp.astype(int)
# data_test.head(2)

In [70]:
data_test['date']= pd.to_datetime(data_test.date)
data_test['Year']= data_test.date.dt.year
data_test['DayofYear']= data_test.date.dt.dayofyear
data_test.head(2)

,Id,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,T001,...,avgspeed_y,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Year,DayofYear
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,1,0,0,1,0,0,0,0,0,0,...,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995,2008,163
2008-06-11,2,0,0,0,1,0,0,0,0,0,...,10.4,2008,64.0,12.0,0.0,2.14,1.65,2.995,2008,163

In [71]:
data_test = data_test.drop(['date'], axis=1)

In [72]:
data_test.shape

(116293, 195)

In [73]:
# # Aligning the two dataframes. 
# data_test = data_test.drop('Trap', 1)
# data = data.drop('Trap', 1)
# data_test = data_test.drop(['CULEX ERRATICUS', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], 1)
# data = data.drop(['CULEX ERRATICUS', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], 1)
# data_test = data_test.drop(['CULEX SALINARIUS', 'CULEX TARSALIS', 'CULEX TERRITANS', 'UNSPECIFIED CULEX'], 1)
# data = data.drop(['CULEX SALINARIUS', 'CULEX TARSALIS', 'CULEX TERRITANS', 'UNSPECIFIED CULEX'], 1)
# data_test = data_test.drop('date', 1)
# data = data.drop('NumMosquitos', 1)
# data_test = data_test.drop('year', 1)
# data = data.drop('year', 1)

In [74]:
data = data.reindex_axis(sorted(data.columns), axis=1)
data_test = data_test.reindex_axis(sorted(data_test.columns), axis=1)

In [75]:
print (data.info())
print (data_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Columns: 182 entries, CULEX ERRATICUS to year
dtypes: float64(26), int64(156)
memory usage: 6.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 116293 entries, 2008-06-11 to 2014-10-02
Columns: 195 entries, CULEX ERRATICUS to year
dtypes: float64(26), int64(169)
memory usage: 173.9+ MB
None

In [76]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import log_loss, accuracy_score
from collections import Counter

In [82]:
X = data.drop(['WnvPresent'], axis=1)
y = data[['WnvPresent']]
cols = X.columns
cols

Index([u'CULEX ERRATICUS', u'CULEX PIPIENS', u'CULEX PIPIENS/RESTUANS',
       u'CULEX RESTUANS', u'CULEX SALINARIUS', u'CULEX TARSALIS',
       u'CULEX TERRITANS', u'DayofYear', u'T001', u'T002',
       ...
       u'stnpressure_y', u'tavg_x', u'tavg_y', u'tmax_x', u'tmax_y', u'tmin_x',
       u'tmin_y', u'wetbulb_x', u'wetbulb_y', u'year'],
      dtype='object', length=181)

In [85]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_features = StandardScaler().fit_transform(X.values)
scaled_features_df = pd.DataFrame(scaled_features, index=X.index, columns=X.columns)
scaled_features_df.head()

,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,DayofYear,T001,T002,...,stnpressure_y,tavg_x,tavg_y,tmax_x,tmax_y,tmin_x,tmin_y,wetbulb_x,wetbulb_y,year
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,-0.01472,-0.855238,0.454403,0.963825,-0.135315,-0.036077,-0.221565,-2.004343,-0.046595,8.239874,...,1.071085,-0.400337,-0.454885,0.832825,0.802856,-0.208851,0.180815,0.148245,0.267485,-1.194897
2007-05-29,-0.01472,-0.855238,-2.200690,0.963825,-0.135315,-0.036077,-0.221565,-2.004343,-0.046595,-0.121361,...,1.071085,-0.400337,-0.454885,0.832825,0.802856,-0.208851,0.180815,0.148245,0.267485,-1.194897
2007-05-29,-0.01472,-0.855238,0.454403,0.963825,-0.135315,-0.036077,-0.221565,-2.004343,-0.046595,-0.121361,...,1.071085,-0.400337,-0.454885,0.832825,0.802856,-0.208851,0.180815,0.148245,0.267485,-1.194897
2007-05-29,-0.01472,-0.855238,-2.200690,0.963825,-0.135315,-0.036077,-0.221565,-2.004343,-0.046595,-0.121361,...,1.071085,-0.400337,-0.454885,0.832825,0.802856,-0.208851,0.180815,0.148245,0.267485,-1.194897
2007-05-29,-0.01472,-0.855238,-2.200690,0.963825,-0.135315,-0.036077,-0.221565,-2.004343,-0.046595,-0.121361,...,1.071085,-0.400337,-0.454885,0.832825,0.802856,-0.208851,0.180815,0.148245,0.267485,-1.194897

In [86]:
y.head()

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [87]:
sample = pd.DataFrame()
sample['Id'] = data_test['Id']
sample.head()

            Id
Date
2008-06-11   1
2008-06-11   2
2008-06-11   3
2008-06-11   4
2008-06-11   5

In [88]:
data_test = data_test.drop('Id', 1)

### Simple Decision Tree

In [91]:
dt = DecisionTreeClassifier()
dt.fit(scaled_features_df, y)
dt_prob = dt.predict_proba(data_test)[:,1]
dt_nodes = dt.tree_.node_count
print ('Decision Tree')
print ('Number of Nodes: ', str(dt_nodes))
sample['WnvPresent_DecisionTree'] = dt_prob

ValueError: Number of features of the model must match the input. Model n_features is 181 and input n_features is 194

In [62]:
sample.head()

         Id  WnvPresent_DecisionTree
Date
6/11/08   1                      0.0
6/11/08   2                      0.0
6/11/08   3                      0.0
6/11/08   4                      0.0
6/11/08   5                      0.0

### AdaBoost Classifier

In [63]:
adaboost = AdaBoostClassifier(
            base_estimator=DecisionTreeClassifier(max_depth=1), 
            algorithm='SAMME', n_estimators=1000, random_state=100)
adaboost.fit(X, y)
ada_pred = adaboost.predict(data_test)
ada_pred_proba = adaboost.predict_proba(data_test)[:,1]
print ('AdaBoost')
sample['WnvPresent_Ada'] = ada_pred_proba
sample.head()

AdaBoost

         Id  WnvPresent_DecisionTree  WnvPresent_Ada
Date
6/11/08   1                      0.0        0.364382
6/11/08   2                      0.0        0.364382
6/11/08   3                      0.0        0.364382
6/11/08   4                      0.0        0.364382
6/11/08   5                      0.0        0.364382

### Gradient Boost Classifier

In [64]:
gbc = GradientBoostingClassifier(
            max_depth=1, warm_start=True, 
            n_estimators=1000, random_state=100)
gbc.fit(X, y)
gbc_pred = gbc.predict(data_test)
gbc_pred_proba = gbc.predict_proba(data_test)[:,1]
print ('Gradient Boost')
sample['WnvPresent_gradientboost'] = gbc_pred_proba
sample.head()

Gradient Boost

         Id  WnvPresent_DecisionTree  WnvPresent_Ada  WnvPresent_gradientboost
Date
6/11/08   1                      0.0        0.364382                  0.000556
6/11/08   2                      0.0        0.364382                  0.000556
6/11/08   3                      0.0        0.364382                  0.000556
6/11/08   4                      0.0        0.364382                  0.000556
6/11/08   5                      0.0        0.364382                  0.000556

### XGBoost

In [65]:
import xgboost as xgb

In [66]:
params = {'objective':'binary:logistic', 'max_depth':2, 'silent':1, 'eta':1}
num_rounds = 5
dtrain = xgb.DMatrix(X, label=y)
dtest = xgb.DMatrix(data_test)

In [67]:
boosted = xgb.train(params, dtrain, num_rounds)

In [68]:
# watchlist = [(dtest, 'Test'), (dtrain, 'Train')]
# boosted = xgb.train(params, dtrain, num_rounds, watchlist)

In [69]:
preds_prob = boosted.predict(dtest)
sample['WnvPresent_xgboost'] = preds_prob
sample.head()

,Id,WnvPresent_DecisionTree,WnvPresent_Ada,WnvPresent_gradientboost,WnvPresent_xgboost
Date,,,,,
6/11/08,1,0.0,0.364382,0.000556,0.003888
6/11/08,2,0.0,0.364382,0.000556,0.003888
6/11/08,3,0.0,0.364382,0.000556,0.003888
6/11/08,4,0.0,0.364382,0.000556,0.003888
6/11/08,5,0.0,0.364382,0.000556,0.003888

In [73]:
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import StratifiedKFold
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import auc

/Users/aakashtandel/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/aakashtandel/anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [82]:
print (X.shape)
print (y.shape)
y.head()    'num_boost_round': [100, 250, 500]

(4616, 23)
(4616, 1)

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [128]:
gbm = xgb.XGBClassifier()
parameters = {'n_jobs':[-1,4], 
              'objective':['binary:logistic'],
              'learning_rate': [0.05, 0.1, 0.3, 1], 
              'max_depth': [2, 6, 9, 12],
              'min_child_weight': [11],
              'silent': [1],
              'subsample': [0.8, 0.9, 1.0],
              'colsample_bytree': [0.7, 0.9, 1.0],
              'n_estimators': [5,10,100,100], 
              }
clf = GridSearchCV(gbm, parameters, n_jobs=5, 
                   cv=StratifiedKFold(y['WnvPresent'], n_folds=5, shuffle=True), 
                   scoring='roc_auc', refit=True)
clf.fit(X, y)
# print (clf.best_params_)
# print (clf.best_estimator_)
predictions = clf.best_estimator_.predict_proba(data_test)[:,1]
print (predictions)

[ 0.00301575  0.00301575  0.00301575 ...,  0.10639736  0.10639736
  0.10639736]

In [120]:
sample['WnvPresent_xgboost_cv'] = predictions
sample.head()

,Id,WnvPresent_DecisionTree,WnvPresent_Ada,WnvPresent_gradientboost,WnvPresent_xgboost,WnvPresent_xgboost_cv
Date,,,,,,
6/11/08,1,0.0,0.364382,0.000556,0.003888,0.005909
6/11/08,2,0.0,0.364382,0.000556,0.003888,0.005909
6/11/08,3,0.0,0.364382,0.000556,0.003888,0.005909
6/11/08,4,0.0,0.364382,0.000556,0.003888,0.005909
6/11/08,5,0.0,0.364382,0.000556,0.003888,0.005909

In [121]:
sample.shape

(116293, 6)

In [122]:
sample_xgboost = sample.copy(deep=True)
sample_xgboost = sample_xgboost.drop(['WnvPresent_DecisionTree', 'WnvPresent_Ada', 'WnvPresent_gradientboost', 'WnvPresent_xgboost'], 1)

In [123]:
sample_xgboost.set_index('Id', inplace=True)

In [124]:
sample_xgboost = sample_xgboost.sort_index(axis=1, ascending=True)

In [125]:
sample_xgboost.head()

    WnvPresent_xgboost_cv
Id
1                0.005909
2                0.005909
3                0.005909
4                0.005909
5                0.005909

In [126]:
sample_xgboost = sample_xgboost.rename(columns={'WnvPresent_xgboost_cv': 'WnvPresent'})
sample_xgboost.head()

    WnvPresent
Id
1     0.005909
2     0.005909
3     0.005909
4     0.005909
5     0.005909

In [127]:
sample_xgboost.to_csv('sample_xgboost.csv')

In [77]:
# labels = dtest.get_label()
# preds = preds_prob > 0.5 
# correct = 0 
# for each in range(len(preds)):
#     if (labels[each]==preds[each]):
#         correct += 1
# print ('Correctly predicted: ', str(correct), '/', str(len(preds)))

In [78]:
# from xgboost.sklearn import XGBClassifier 
# boost = XGBClassifier(**params).fit(X_train, y_train)

In [79]:
# acc = accuracy_score(y_test, preds)
# acc