## Boosting Models for Project 4 - Aakash, Nellie, Chaim, and Matt

In [75]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [76]:
data = pd.read_csv('/Users/aakashtandel/Desktop/train_weather2.csv', index_col=0)
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,resultspeed,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 33 columns):
Trap                      4616 non-null object
NumMosquitos              4616 non-null int64
WnvPresent                4616 non-null int64
Year                      4616 non-null int64
DayofYear                 4616 non-null int64
CULEX ERRATICUS           4616 non-null int64
CULEX PIPIENS             4616 non-null int64
CULEX PIPIENS/RESTUANS    4616 non-null int64
CULEX RESTUANS            4616 non-null int64
CULEX SALINARIUS          4616 non-null int64
CULEX TARSALIS            4616 non-null int64
CULEX TERRITANS           4616 non-null int64
tmax                      4616 non-null int64
tmin                      4616 non-null int64
tavg                      4616 non-null int64
depart                    4616 non-null int64
dewpoint                  4616 non-null int64
wetbulb                   4616 non-null int64
heat                      4616 non-null int64
cool                      4616 non-null int64
preciptotal               4616 non-null float64
stnpressure               4616 non-null float64
sealevel                  4616 non-null float64
resultspeed               4616 non-null float64
resultdir                 4616 non-null int64
avgspeed                  4616 non-null float64
year                      4616 non-null int64
coollast7                 4616 non-null int64
coollast30                4616 non-null int64
coollast90                4616 non-null int64
preciplast7               4616 non-null float64
preciplast30              4616 non-null float64
preciplast90              4616 non-null float64
dtypes: float64(8), int64(24), object(1)
memory usage: 1.2+ MB

In [78]:
def T_stripper(string):
    return string[1:4]
data['Trapp'] = data['Trap'].apply(T_stripper)
data.Trapp = data.Trapp.astype(int)
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,2
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,7
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,15
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,45
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,46

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 34 columns):
Trap                      4616 non-null object
NumMosquitos              4616 non-null int64
WnvPresent                4616 non-null int64
Year                      4616 non-null int64
DayofYear                 4616 non-null int64
CULEX ERRATICUS           4616 non-null int64
CULEX PIPIENS             4616 non-null int64
CULEX PIPIENS/RESTUANS    4616 non-null int64
CULEX RESTUANS            4616 non-null int64
CULEX SALINARIUS          4616 non-null int64
CULEX TARSALIS            4616 non-null int64
CULEX TERRITANS           4616 non-null int64
tmax                      4616 non-null int64
tmin                      4616 non-null int64
tavg                      4616 non-null int64
depart                    4616 non-null int64
dewpoint                  4616 non-null int64
wetbulb                   4616 non-null int64
heat                      4616 non-null int64
cool                      4616 non-null int64
preciptotal               4616 non-null float64
stnpressure               4616 non-null float64
sealevel                  4616 non-null float64
resultspeed               4616 non-null float64
resultdir                 4616 non-null int64
avgspeed                  4616 non-null float64
year                      4616 non-null int64
coollast7                 4616 non-null int64
coollast30                4616 non-null int64
coollast90                4616 non-null int64
preciplast7               4616 non-null float64
preciplast30              4616 non-null float64
preciplast90              4616 non-null float64
Trapp                     4616 non-null int64
dtypes: float64(8), int64(25), object(1)
memory usage: 1.2+ MB

Now that everything is an integer or float it should be easier to model.

In [80]:
data_test = pd.read_csv('/Users/aakashtandel/Desktop/test_weather2.csv', index_col=0)
data_test.head()

,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,date,...,resultspeed,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,T001,1,1,1,1,1,1,1,1,2008-06-11,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
2008-06-11,T002,1,1,1,1,1,1,1,1,2008-06-11,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
2008-06-11,T002A,1,1,1,1,1,1,1,1,2008-06-11,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
2008-06-11,T002B,1,1,1,1,1,1,1,1,2008-06-11,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
2008-06-11,T003,1,1,1,1,1,1,1,1,2008-06-11,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99

In [81]:
data_test['Trapp'] = data_test['Trap'].apply(T_stripper)
data_test.Trapp = data_test.Trapp.astype(int)
data_test.head(2)

,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,date,...,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,T001,1,1,1,1,1,1,1,1,2008-06-11,...,18,10.0,2008,64,12,0,2.13,1.63,2.99,1
2008-06-11,T002,1,1,1,1,1,1,1,1,2008-06-11,...,18,10.0,2008,64,12,0,2.13,1.63,2.99,2

In [82]:
data_test['date']= pd.to_datetime(data_test.date)
data_test['Year']= data_test.date.dt.year
data_test['DayofYear']= data_test.date.dt.dayofyear
data_test.head(2)

,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,date,...,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp,Year,DayofYear
Date,,,,,,,,,,,,,,,,,,,,,
2008-06-11,T001,1,1,1,1,1,1,1,1,2008-06-11,...,2008,64,12,0,2.13,1.63,2.99,1,2008,163
2008-06-11,T002,1,1,1,1,1,1,1,1,2008-06-11,...,2008,64,12,0,2.13,1.63,2.99,2,2008,163

In [83]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14155 entries, 2008-06-11 to 2014-10-02
Data columns (total 34 columns):
Trap                      14155 non-null object
CULEX ERRATICUS           14155 non-null int64
CULEX PIPIENS             14155 non-null int64
CULEX PIPIENS/RESTUANS    14155 non-null int64
CULEX RESTUANS            14155 non-null int64
CULEX SALINARIUS          14155 non-null int64
CULEX TARSALIS            14155 non-null int64
CULEX TERRITANS           14155 non-null int64
UNSPECIFIED CULEX         14155 non-null int64
date                      14155 non-null datetime64[ns]
tmax                      14155 non-null int64
tmin                      14155 non-null int64
tavg                      14155 non-null int64
depart                    14155 non-null int64
dewpoint                  14155 non-null int64
wetbulb                   14155 non-null int64
heat                      14155 non-null int64
cool                      14155 non-null int64
preciptotal               14155 non-null float64
stnpressure               14155 non-null float64
sealevel                  14155 non-null float64
resultspeed               14155 non-null float64
resultdir                 14155 non-null int64
avgspeed                  14155 non-null float64
year                      14155 non-null int64
coollast7                 14155 non-null int64
coollast30                14155 non-null int64
coollast90                14155 non-null int64
preciplast7               14155 non-null float64
preciplast30              14155 non-null float64
preciplast90              14155 non-null float64
Trapp                     14155 non-null int64
Year                      14155 non-null int64
DayofYear                 14155 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(24), object(1)
memory usage: 3.8+ MB

In [84]:
# Aligning the two dataframes. 
data_test = data_test.drop('Trap', 1)
data = data.drop('Trap', 1)
data_test = data_test.drop(['CULEX ERRATICUS', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], 1)
data = data.drop(['CULEX ERRATICUS', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], 1)
data_test = data_test.drop(['CULEX SALINARIUS', 'CULEX TARSALIS', 'CULEX TERRITANS', 'UNSPECIFIED CULEX'], 1)
data = data.drop(['CULEX SALINARIUS', 'CULEX TARSALIS', 'CULEX TERRITANS'], 1)
data_test = data_test.drop('date', 1)
data = data.drop('NumMosquitos', 1)
data_test = data_test.drop('year', 1)
data = data.drop('year', 1)

In [85]:
data = data.reindex_axis(sorted(data.columns), axis=1)
data_test = data_test.reindex_axis(sorted(data_test.columns), axis=1)

In [86]:
print (data.info())
print (data_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 24 columns):
DayofYear       4616 non-null int64
Trapp           4616 non-null int64
WnvPresent      4616 non-null int64
Year            4616 non-null int64
avgspeed        4616 non-null float64
cool            4616 non-null int64
coollast30      4616 non-null int64
coollast7       4616 non-null int64
coollast90      4616 non-null int64
depart          4616 non-null int64
dewpoint        4616 non-null int64
heat            4616 non-null int64
preciplast30    4616 non-null float64
preciplast7     4616 non-null float64
preciplast90    4616 non-null float64
preciptotal     4616 non-null float64
resultdir       4616 non-null int64
resultspeed     4616 non-null float64
sealevel        4616 non-null float64
stnpressure     4616 non-null float64
tavg            4616 non-null int64
tmax            4616 non-null int64
tmin            4616 non-null int64
wetbulb         4616 non-null int64
dtypes: float64(8), int64(16)
memory usage: 901.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 14155 entries, 2008-06-11 to 2014-10-02
Data columns (total 23 columns):
DayofYear       14155 non-null int64
Trapp           14155 non-null int64
Year            14155 non-null int64
avgspeed        14155 non-null float64
cool            14155 non-null int64
coollast30      14155 non-null int64
coollast7       14155 non-null int64
coollast90      14155 non-null int64
depart          14155 non-null int64
dewpoint        14155 non-null int64
heat            14155 non-null int64
preciplast30    14155 non-null float64
preciplast7     14155 non-null float64
preciplast90    14155 non-null float64
preciptotal     14155 non-null float64
resultdir       14155 non-null int64
resultspeed     14155 non-null float64
sealevel        14155 non-null float64
stnpressure     14155 non-null float64
tavg            14155 non-null int64
tmax            14155 non-null int64
tmin            14155 non-null int64
wetbulb         14155 non-null int64
dtypes: float64(8), int64(15)
memory usage: 2.6+ MB
None

In [87]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import log_loss, accuracy_score
from collections import Counter

In [88]:
X = data.drop(['WnvPresent'], axis=1)
y = data[['WnvPresent']]

In [89]:
X.head()

,DayofYear,Trapp,Year,avgspeed,cool,coollast30,coollast7,coollast90,depart,dewpoint,...,preciplast90,preciptotal,resultdir,resultspeed,sealevel,stnpressure,tavg,tmax,tmin,wetbulb
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,149,2,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,7,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,15,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,45,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,46,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65

In [91]:
y.head()

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [92]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [93]:
print ('Train Label Distribution')
print ( Counter(y_train) )
print ('Test Label Distribution')
print ( Counter(y_test) )

### Simple Decision Tree

In [57]:
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
dt_pred = dt.predict(X_test)
dt_prob = dt.predict_proba(X_test)
dt_accuracy = accuracy_score(y_test, dt_pred)
dt_log_loss = log_loss(y_test, dt_pred)
dt_nodes = dt.tree_.node_count
print ('Decision Tree')
print ('Accuracy: ', str(dt_accuracy))
print ('Log Loss: ', str(dt_log_loss))
print ('Number of Nodes: ', str(dt_nodes))

Decision Tree
('Accuracy: ', '0.888528138528')
('Log Loss: ', '3.85015188888')
('Number of Nodes: ', '1051')

### AdaBoost Classifier

In [58]:
adaboost = AdaBoostClassifier(
            base_estimator=DecisionTreeClassifier(max_depth=1), 
            algorithm='SAMME', n_estimators=1000, random_state=100)
adaboost.fit(X_train, y_train)
ada_pred = adaboost.predict(X_test)
ada_pred_proba = adaboost.predict_proba(X_test)
ada_accuracy = accuracy_score(y_test, ada_pred)
ada_log_loss = log_loss(y_test, ada_pred)
print ('AdaBoost')
print ('Accuracy: ', str(ada_accuracy))
print ('Log Loss: ', str(ada_log_loss))

/Users/aakashtandel/anaconda/lib/python2.7/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoost
('Accuracy: ', '0.916666666667')
('Log Loss: ', '2.8782374238')

### Gradient Boost Classifier

In [59]:
gbc = GradientBoostingClassifier(
            max_depth=1, warm_start=True, 
            n_estimators=1000, random_state=100)
gbc.fit(X_train, y_train)
gbc_pred = gbc.predict(X_test)
gbc_pred_proba = gbc.predict_proba(X_test)
gbc_accuracy = accuracy_score(y_test, gbc_pred)
gbc_log_loss = log_loss(y_test, gbc_pred)
print ('Gradient Boost')
print ('Accuracy: ', str(gbc_accuracy))
print ('Log Loss: ', str(gbc_log_loss))

Gradient Boost
('Accuracy: ', '0.920995670996')
('Log Loss: ', '2.7287180459')

### XGBoost

In [60]:
import xgboost as xgb

In [61]:
params = {'objective':'binary:logistic', 'max_depth':2, 'silent':1, 'eta':1}
num_rounds = 5
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test)

In [62]:
boosted = xgb.train(params, dtrain, num_rounds)

In [63]:
# watchlist = [(dtest, 'Test'), (dtrain, 'Train')]
# boosted = xgb.train(params, dtrain, num_rounds, watchlist)

In [70]:
preds_prob = boosted.predict(dtest)
preds_prob

array([ 0.08687856,  0.00972112,  0.10561571,  0.07626136,  0.02276671,
        0.05039081,  0.02276671,  0.18734248,  0.02276671,  0.28394628,
        0.18734248,  0.01253651,  0.01253651,  0.02029753,  0.18734248,
        0.18734248,  0.02070258,  0.25679377,  0.00637834,  0.18734248,
        0.06381662,  0.21485107,  0.34819761,  0.02029753,  0.02276671,
        0.05039081,  0.18734248,  0.21485107,  0.18997759,  0.00637834,
        0.05715573,  0.02276671,  0.02276671,  0.01843639,  0.10561571,
        0.03706161,  0.00637834,  0.00637834,  0.11935017,  0.04350212,
        0.05039081,  0.11935017,  0.00637834,  0.03706161,  0.00637834,
        0.00637834,  0.02276671,  0.00637834,  0.78606945,  0.88875467,
        0.04407288,  0.00637834,  0.00637834,  0.00637834,  0.00637834,
        0.00637834,  0.00972112,  0.15828049,  0.02276671,  0.00972112,
        0.02029753,  0.01253651,  0.05039081,  0.21485107,  0.13406579,
        0.10561571,  0.00637834,  0.03149314,  0.00637834,  0.00637834,
        0.00637834,  0.10561571,  0.18734248,  0.18734248,  0.00637834,
        0.18997759,  0.00637834,  0.00637834,  0.40281656,  0.07626136,
        0.02654565,  0.11935017,  0.18734248,  0.00972112,  0.02276671,
        0.00972112,  0.05039081,  0.02276671,  0.18734248,  0.00637834,
        0.11935017,  0.00637834,  0.04407288,  0.05039081,  0.00972112,
        0.26852462,  0.05039081,  0.04634539,  0.00637834,  0.10561571,
        0.02276671,  0.10380912,  0.11935017,  0.15828049,  0.04407288,
        0.02070258,  0.28394628,  0.00637834,  0.03706161,  0.11935017,
        0.05039081,  0.01633769,  0.00637834,  0.04350212,  0.00637834,
        0.11935017,  0.28394628,  0.02367655,  0.18734248,  0.00637834,
        0.04350212,  0.52911806,  0.18734248,  0.00637834,  0.51786923,
        0.00637834,  0.00637834,  0.06381662,  0.18734248,  0.02276671,
        0.00637834,  0.00637834,  0.10380912,  0.04350212,  0.04407288,
        0.03149314,  0.18734248,  0.0590968 ,  0.01633769,  0.02029753,
        0.03149314,  0.10380912,  0.88875467,  0.02276671,  0.00637834,
        0.02276671,  0.18734248,  0.05039081,  0.00637834,  0.02029753,
        0.21485107,  0.04350212,  0.01253651,  0.02276671,  0.79825342,
        0.18734248,  0.04350212,  0.00637834,  0.00637834,  0.21485107,
        0.04350212,  0.02276671,  0.02070258,  0.10380912,  0.10380912,
        0.11935017,  0.18734248,  0.18734248,  0.03706161,  0.18734248,
        0.00972112,  0.00972112,  0.10561571,  0.04350212,  0.18734248,
        0.01253651,  0.18734248,  0.00637834,  0.08687856,  0.00972112,
        0.00637834,  0.18734248,  0.01253651,  0.02276671,  0.02029753,
        0.15828049,  0.00637834,  0.00637834,  0.00637834,  0.34819761,
        0.06381662,  0.11935017,  0.01253651,  0.25313312,  0.07626136,
        0.02276671,  0.25679377,  0.00637834,  0.07626136,  0.05039081,
        0.01253651,  0.10561571,  0.02792103,  0.07626136,  0.05039081,
        0.01363562,  0.11935017,  0.00637834,  0.01253651,  0.25313312,
        0.01253651,  0.00637834,  0.01843639,  0.18734248,  0.00637834,
        0.18734248,  0.21485107,  0.10380912,  0.05039081,  0.02276671,
        0.10561571,  0.18997759,  0.10561571,  0.18734248,  0.11935017,
        0.18734248,  0.00637834,  0.04350212,  0.05039081,  0.10380912,
        0.10561571,  0.06381662,  0.01633769,  0.02276671,  0.0502539 ,
        0.00972112,  0.18734248,  0.02276671,  0.04350212,  0.02276671,
        0.51786923,  0.02276671,  0.21485107,  0.00637834,  0.00637834,
        0.02276671,  0.00637834,  0.11744606,  0.02276671,  0.00637834,
        0.01253651,  0.04407288,  0.34819761,  0.11935017,  0.05039081,
        0.04350212,  0.00637834,  0.02276671,  0.01253651,  0.18734248,
        0.11935017,  0.0502539 ,  0.04350212,  0.0502539 ,  0.04350212,
        0.11935017,  0.00637834,  0.18734248,  0.11935017,  0.03149314,
        0.18734248,  0.02029753,  0.10561571,  0.02792103,  0.11935017,
        0.00637834,  0.18734248,  0.04350212,  0.11935017,  0.01253651,
        0.11935017,  0.01135986,  0.00637834,  0.18997759,  0.00972112,
        0.00637834,  0.18997759,  0.04350212,  0.02654565,  0.18734248,
        0.18734248,  0.10561571,  0.01253651,  0.21485107,  0.02276671,
        0.00637834,  0.11935017,  0.01253651,  0.10561571,  0.01253651,
        0.05039081,  0.00637834,  0.03706161,  0.10561571,  0.0590968 ,
        0.21485107,  0.01843639,  0.15828049,  0.02276671,  0.11935017,
        0.02276671,  0.00637834,  0.00637834,  0.00637834,  0.01253651,
        0.02276671,  0.00637834,  0.18734248,  0.07626136,  0.00637834,
        0.06381662,  0.01253651,  0.02276671,  0.21485107,  0.04350212,
        0.21485107,  0.00637834,  0.06381662,  0.01253651,  0.0590968 ,
        0.11178683,  0.10561571,  0.08687856,  0.0590968 ,  0.02276671,
        0.00637834,  0.00637834,  0.00972112,  0.01253651,  0.02276671,
        0.15828049,  0.00637834,  0.00972112,  0.05039081,  0.00637834,
        0.11744606,  0.11935017,  0.07626136,  0.01253651,  0.02276671,
        0.44465271,  0.02276671,  0.02029753,  0.15828049,  0.18734248,
        0.40281656,  0.11935017,  0.03706161,  0.02276671,  0.02276671,
        0.01633769,  0.00637834,  0.01253651,  0.11935017,  0.15828049,
        0.02276671,  0.00637834,  0.01843639,  0.18997759,  0.02276671,
        0.00637834,  0.18734248,  0.02276671,  0.01253651,  0.04350212,
        0.04350212,  0.00972112,  0.11935017,  0.11178683,  0.02276671,
        0.34819761,  0.34819761,  0.01253651,  0.00637834,  0.18734248,
        0.21485107,  0.02276671,  0.18734248,  0.11935017,  0.02070258,
        0.00637834,  0.18734248,  0.18734248,  0.03581674,  0.05039081,
        0.11178683,  0.11935017,  0.04350212,  0.03149314,  0.11178683,
        0.0590968 ,  0.18997759,  0.11935017,  0.0502539 ,  0.02276671,
        0.10561571,  0.02792103,  0.04350212,  0.01843639,  0.04350212,
        0.40281656,  0.00972112,  0.09386894,  0.18734248,  0.00637834,
        0.00972112,  0.28394628,  0.18734248,  0.04350212,  0.02654565,
        0.0590968 ,  0.26852462,  0.10561571,  0.00637834,  0.02276671,
        0.00637834,  0.11935017,  0.00972112,  0.10561571,  0.00637834,
        0.00972112,  0.0502539 ,  0.11935017,  0.02276671,  0.11935017,
        0.18734248,  0.09386894,  0.02070258,  0.00637834,  0.13439874,
        0.01253651,  0.11178683,  0.06381662,  0.04350212,  0.00637834,
        0.01633769,  0.02276671,  0.26852462,  0.01843639,  0.18734248,
        0.40281656,  0.18734248,  0.04350212,  0.00637834,  0.00637834,
        0.02276671,  0.34819761,  0.06381662,  0.03706161,  0.18734248,
        0.34819761,  0.26852462,  0.11935017,  0.44465271,  0.26852462,
        0.02070258,  0.00637834,  0.02276671,  0.00637834,  0.26852462,
        0.18734248,  0.34819761,  0.00637834,  0.11935017,  0.01253651,
        0.07626136,  0.00637834,  0.02276671,  0.0502539 ,  0.00972112,
        0.03706161,  0.0590968 ,  0.00972112,  0.34819761,  0.00972112,
        0.03706161,  0.01253651,  0.01253651,  0.04350212,  0.03581674,
        0.00637834,  0.02276671,  0.11178683,  0.10380912,  0.07626136,
        0.01843639,  0.02276671,  0.18734248,  0.10380912,  0.11935017,
        0.00972112,  0.00637834,  0.26852462,  0.18997759,  0.00637834,
        0.40696466,  0.06381662,  0.18734248,  0.18734248,  0.06381662,
        0.0502539 ,  0.18734248,  0.11935017,  0.04350212,  0.18734248,
        0.02654565,  0.18734248,  0.00637834,  0.32655764,  0.10561571,
        0.21485107,  0.00637834,  0.04350212,  0.04350212,  0.10561571,
        0.00972112,  0.01253651,  0.01253651,  0.02070258,  0.01633769,
        0.10561571,  0.0502539 ,  0.00637834,  0.26852462,  0.11935017,
        0.02276671,  0.00637834,  0.18734248,  0.15828049,  0.00637834,
        0.11935017,  0.03706161,  0.11178683,  0.05039081,  0.01253651,
        0.05039081,  0.00637834,  0.00637834,  0.02276671,  0.15828049,
        0.01253651,  0.10561571,  0.15524592,  0.02276671,  0.05039081,
        0.18997759,  0.02276671,  0.02276671,  0.00637834,  0.10561571,
        0.00972112,  0.02029753,  0.40281656,  0.18734248,  0.18734248,
        0.26852462,  0.34819761,  0.01253651,  0.26852462,  0.00637834,
        0.40281656,  0.15524592,  0.00637834,  0.06381662,  0.00972112,
        0.15828049,  0.18734248,  0.02276671,  0.18734248,  0.03149314,
        0.11935017,  0.00637834,  0.10380912,  0.02029753,  0.0590968 ,
        0.10561571,  0.00637834,  0.04350212,  0.02276671,  0.00637834,
        0.00745782,  0.10561571,  0.04350212,  0.18734248,  0.05039081,
        0.04350212,  0.02276671,  0.11935017,  0.11935017,  0.00637834,
        0.04350212,  0.01843639,  0.10561571,  0.25679377,  0.06381662,
        0.03581674,  0.03149314,  0.00972112,  0.01843639,  0.00637834,
        0.01843639,  0.26852462,  0.13439874,  0.11935017,  0.00637834,
        0.07626136,  0.10561571,  0.02276671,  0.05039081,  0.01843639,
        0.02276671,  0.02276671,  0.02276671,  0.18734248,  0.05039081,
        0.00972112,  0.00637834,  0.18734248,  0.04350212,  0.0502539 ,
        0.02029753,  0.60704446,  0.01843639,  0.0590968 ,  0.00637834,
        0.02276671,  0.18734248,  0.18997759,  0.26852462,  0.07626136,
        0.02276671,  0.21485107,  0.0590968 ,  0.21485107,  0.35492733,
        0.21485107,  0.02276671,  0.25679377,  0.00972112,  0.00637834,
        0.02276671,  0.05039081,  0.18734248,  0.18734248,  0.18997759,
        0.00637834,  0.03706161,  0.18734248,  0.00637834,  0.40281656,
        0.00637834,  0.00972112,  0.04350212,  0.00637834,  0.00637834,
        0.02276671,  0.04350212,  0.04407288,  0.10380912,  0.18734248,
        0.02029753,  0.02792103,  0.10561571,  0.25313312,  0.25679377,
        0.02276671,  0.00637834,  0.00637834,  0.00637834,  0.00972112,
        0.02276671,  0.11935017,  0.02276671,  0.01843639,  0.00637834,
        0.04350212,  0.25679377,  0.10380912,  0.11935017,  0.07626136,
        0.21485107,  0.02070258,  0.00637834,  0.11935017,  0.00972112,
        0.11744606,  0.02276671,  0.00637834,  0.00637834,  0.00972112,
        0.02276671,  0.01843639,  0.03581674,  0.02276671,  0.00637834,
        0.01843639,  0.00972112,  0.02276671,  0.06381662,  0.00972112,
        0.05715573,  0.06381662,  0.11178683,  0.01253651,  0.02276671,
        0.02276671,  0.01633769,  0.18997759,  0.04407288,  0.05039081,
        0.02276671,  0.18734248,  0.02276671,  0.0590968 ,  0.11178683,
        0.26852462,  0.18734248,  0.11935017,  0.05039081,  0.02654565,
        0.11178683,  0.01253651,  0.21485107,  0.10561571,  0.21485107,
        0.01843639,  0.00637834,  0.00637834,  0.11935017,  0.02276671,
        0.00637834,  0.18734248,  0.10380912,  0.02276671,  0.02276671,
        0.44465271,  0.01253651,  0.01843639,  0.01633769,  0.18734248,
        0.00637834,  0.28394628,  0.02276671,  0.02276671,  0.02029753,
        0.01253651,  0.02276671,  0.04407288,  0.44465271,  0.00637834,
        0.07626136,  0.10380912,  0.00637834,  0.02276671,  0.02276671,
        0.00637834,  0.02276671,  0.00637834,  0.08687856,  0.00972112,
        0.00637834,  0.00972112,  0.02276671,  0.05039081,  0.10380912,
        0.05039081,  0.0590968 ,  0.26852462,  0.04350212,  0.21485107,
        0.03149314,  0.00972112,  0.03581674,  0.02276671,  0.10561571,
        0.00972112,  0.02276671,  0.00637834,  0.25313312,  0.00637834,
        0.05039081,  0.02276671,  0.10561571,  0.03706161,  0.02029753,
        0.11935017,  0.05039081,  0.03706161,  0.18997759,  0.02276671,
        0.01843639,  0.04634539,  0.01253651,  0.03706161,  0.02029753,
        0.01253651,  0.57375181,  0.15828049,  0.18734248,  0.01253651,
        0.01253651,  0.01843639,  0.0590968 ,  0.02276671,  0.00637834,
        0.00637834,  0.02029753,  0.18734248,  0.01843639,  0.10380912,
        0.00972112,  0.09386894,  0.03149314,  0.02276671,  0.11886644,
        0.00972112,  0.00637834,  0.11935017,  0.00637834,  0.00637834,
        0.10561571,  0.00972112,  0.18734248,  0.01843639,  0.00972112,
        0.00637834,  0.00972112,  0.11935017,  0.0502539 ,  0.10561571,
        0.00637834,  0.01843639,  0.02276671,  0.10561571,  0.18734248,
        0.79825342,  0.06381662,  0.11744606,  0.11935017,  0.00972112,
        0.02276671,  0.00972112,  0.04350212,  0.11178683,  0.06381662,
        0.00637834,  0.01843639,  0.18734248,  0.00637834,  0.00637834,
        0.00637834,  0.00637834,  0.21485107,  0.10561571,  0.18734248,
        0.00637834,  0.05039081,  0.00972112,  0.02276671,  0.01253651,
        0.00637834,  0.00637834,  0.34819761,  0.01253651,  0.18734248,
        0.00972112,  0.00637834,  0.00637834,  0.01253651,  0.18734248,
        0.11935017,  0.00637834,  0.18734248,  0.01843639,  0.00637834,
        0.02276671,  0.02276671,  0.11935017,  0.00637834,  0.0502539 ,
        0.02276671,  0.00637834,  0.11935017,  0.07626136,  0.18734248,
        0.05039081,  0.06381662,  0.18734248,  0.02070258,  0.26852462,
        0.11935017,  0.00637834,  0.0590968 ,  0.01253651,  0.00637834,
        0.10561571,  0.01253651,  0.00637834,  0.26852462,  0.18734248,
        0.00637834,  0.21485107,  0.15828049,  0.02029753,  0.18734248,
        0.18734248,  0.00637834,  0.10561571,  0.00637834,  0.10561571,
        0.03581674,  0.00745782,  0.07626136,  0.00637834], dtype=float32)

In [71]:
labels = dtest.get_label()
preds = preds_prob > 0.5 
correct = 0 
# for each in range(len(preds)):
#     if (labels[each]==preds[each]):
#         correct += 1
# print ('Correctly predicted: ', str(correct), '/', str(len(preds)))

In [72]:
from xgboost.sklearn import XGBClassifier 
boost = XGBClassifier(**params).fit(X_train, y_train)

In [73]:
acc = accuracy_score(y_test, preds)
acc

0.9242424242424242