# SO FAR THE BEST WITH XGBOOST IS .69

## Boosting Models for Project 4 - Aakash, Nellie, Chaim, and Matt

In [180]:
import numpy as np 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [181]:
data = pd.read_csv('/Users/aakashtandel/Desktop/train_weather2.csv', index_col='Date')
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,resultspeed,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,5.8,18,6.5,2007,31,35,0,1.07,0.72,0.0

In [182]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 33 columns):
Trap                      4616 non-null object
NumMosquitos              4616 non-null int64
WnvPresent                4616 non-null int64
Year                      4616 non-null int64
DayofYear                 4616 non-null int64
CULEX ERRATICUS           4616 non-null int64
CULEX PIPIENS             4616 non-null int64
CULEX PIPIENS/RESTUANS    4616 non-null int64
CULEX RESTUANS            4616 non-null int64
CULEX SALINARIUS          4616 non-null int64
CULEX TARSALIS            4616 non-null int64
CULEX TERRITANS           4616 non-null int64
tmax                      4616 non-null int64
tmin                      4616 non-null int64
tavg                      4616 non-null int64
depart                    4616 non-null int64
dewpoint                  4616 non-null int64
wetbulb                   4616 non-null int64
heat                      4616 non-null int64
cool                      4616 non-null int64
preciptotal               4616 non-null float64
stnpressure               4616 non-null float64
sealevel                  4616 non-null float64
resultspeed               4616 non-null float64
resultdir                 4616 non-null int64
avgspeed                  4616 non-null float64
year                      4616 non-null int64
coollast7                 4616 non-null int64
coollast30                4616 non-null int64
coollast90                4616 non-null int64
preciplast7               4616 non-null float64
preciplast30              4616 non-null float64
preciplast90              4616 non-null float64
dtypes: float64(8), int64(24), object(1)
memory usage: 1.2+ MB

In [183]:
def T_stripper(string):
    return string[1:4]
data['Trapp'] = data['Trap'].apply(T_stripper)
data.Trapp = data.Trapp.astype(int)
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,2
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,7
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,15
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,45
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,18,6.5,2007,31,35,0,1.07,0.72,0.0,46

In [184]:
data['UNSPECIFIED CULEX'] = 0 
data.head()

,Trap,NumMosquitos,WnvPresent,Year,DayofYear,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,...,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp,UNSPECIFIED CULEX
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,T002,2,0,2007,149,0,0,1,1,0,...,6.5,2007,31,35,0,1.07,0.72,0.0,2,0
2007-05-29,T007,1,0,2007,149,0,0,0,1,0,...,6.5,2007,31,35,0,1.07,0.72,0.0,7,0
2007-05-29,T015,5,0,2007,149,0,0,1,1,0,...,6.5,2007,31,35,0,1.07,0.72,0.0,15,0
2007-05-29,T045,2,0,2007,149,0,0,0,1,0,...,6.5,2007,31,35,0,1.07,0.72,0.0,45,0
2007-05-29,T046,1,0,2007,149,0,0,0,1,0,...,6.5,2007,31,35,0,1.07,0.72,0.0,46,0

In [185]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 35 columns):
Trap                      4616 non-null object
NumMosquitos              4616 non-null int64
WnvPresent                4616 non-null int64
Year                      4616 non-null int64
DayofYear                 4616 non-null int64
CULEX ERRATICUS           4616 non-null int64
CULEX PIPIENS             4616 non-null int64
CULEX PIPIENS/RESTUANS    4616 non-null int64
CULEX RESTUANS            4616 non-null int64
CULEX SALINARIUS          4616 non-null int64
CULEX TARSALIS            4616 non-null int64
CULEX TERRITANS           4616 non-null int64
tmax                      4616 non-null int64
tmin                      4616 non-null int64
tavg                      4616 non-null int64
depart                    4616 non-null int64
dewpoint                  4616 non-null int64
wetbulb                   4616 non-null int64
heat                      4616 non-null int64
cool                      4616 non-null int64
preciptotal               4616 non-null float64
stnpressure               4616 non-null float64
sealevel                  4616 non-null float64
resultspeed               4616 non-null float64
resultdir                 4616 non-null int64
avgspeed                  4616 non-null float64
year                      4616 non-null int64
coollast7                 4616 non-null int64
coollast30                4616 non-null int64
coollast90                4616 non-null int64
preciplast7               4616 non-null float64
preciplast30              4616 non-null float64
preciplast90              4616 non-null float64
Trapp                     4616 non-null int64
UNSPECIFIED CULEX         4616 non-null int64
dtypes: float64(8), int64(26), object(1)
memory usage: 1.3+ MB

Now that everything is an integer or float it should be easier to model.

In [186]:
data_test = pd.read_csv('/Users/aakashtandel/Desktop/test_weather2.csv', index_col='Date')
data_test.head()

,Id,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,...,resultspeed,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90
Date,,,,,,,,,,,,,,,,,,,,,
6/11/08,1,T001,0,0,1,0,0,0,0,0,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
6/11/08,2,T001,0,0,0,1,0,0,0,0,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
6/11/08,3,T001,0,1,0,0,0,0,0,0,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
6/11/08,4,T001,0,0,0,0,1,0,0,0,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99
6/11/08,5,T001,0,0,0,0,0,0,1,0,...,8.9,18,10.0,2008,64,12,0,2.13,1.63,2.99

In [187]:
data_test['UNSPECIFIED CULEX'].value_counts()

0    101948
1     14345
Name: UNSPECIFIED CULEX, dtype: int64

In [188]:
data_test['Trapp'] = data_test['Trap'].apply(T_stripper)
data_test.Trapp = data_test.Trapp.astype(int)
data_test.head(2)

,Id,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,...,resultdir,avgspeed,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp
Date,,,,,,,,,,,,,,,,,,,,,
6/11/08,1,T001,0,0,1,0,0,0,0,0,...,18,10.0,2008,64,12,0,2.13,1.63,2.99,1
6/11/08,2,T001,0,0,0,1,0,0,0,0,...,18,10.0,2008,64,12,0,2.13,1.63,2.99,1

In [189]:
data_test['date']= pd.to_datetime(data_test.date)
data_test['Year']= data_test.date.dt.year
data_test['DayofYear']= data_test.date.dt.dayofyear
data_test.head(2)

,Id,Trap,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,...,year,coollast7,coollast30,coollast90,preciplast7,preciplast30,preciplast90,Trapp,Year,DayofYear
Date,,,,,,,,,,,,,,,,,,,,,
6/11/08,1,T001,0,0,1,0,0,0,0,0,...,2008,64,12,0,2.13,1.63,2.99,1,2008,163
6/11/08,2,T001,0,0,0,1,0,0,0,0,...,2008,64,12,0,2.13,1.63,2.99,1,2008,163

In [190]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116293 entries, 6/11/08 to 10/2/14
Data columns (total 35 columns):
Id                        116293 non-null int64
Trap                      116293 non-null object
CULEX ERRATICUS           116293 non-null int64
CULEX PIPIENS             116293 non-null int64
CULEX PIPIENS/RESTUANS    116293 non-null int64
CULEX RESTUANS            116293 non-null int64
CULEX SALINARIUS          116293 non-null int64
CULEX TARSALIS            116293 non-null int64
CULEX TERRITANS           116293 non-null int64
UNSPECIFIED CULEX         116293 non-null int64
date                      116293 non-null datetime64[ns]
tmax                      116293 non-null int64
tmin                      116293 non-null int64
tavg                      116293 non-null int64
depart                    116293 non-null int64
dewpoint                  116293 non-null int64
wetbulb                   116293 non-null int64
heat                      116293 non-null int64
cool                      116293 non-null int64
preciptotal               116293 non-null float64
stnpressure               116293 non-null float64
sealevel                  116293 non-null float64
resultspeed               116293 non-null float64
resultdir                 116293 non-null int64
avgspeed                  116293 non-null float64
year                      116293 non-null int64
coollast7                 116293 non-null int64
coollast30                116293 non-null int64
coollast90                116293 non-null int64
preciplast7               116293 non-null float64
preciplast30              116293 non-null float64
preciplast90              116293 non-null float64
Trapp                     116293 non-null int64
Year                      116293 non-null int64
DayofYear                 116293 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(25), object(1)
memory usage: 31.9+ MB

In [191]:
# Aligning the two dataframes. 
data_test = data_test.drop('Trap', 1)
data = data.drop('Trap', 1)
data_test = data_test.drop(['CULEX ERRATICUS', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], 1)
data = data.drop(['CULEX ERRATICUS', 'CULEX PIPIENS', 'CULEX PIPIENS/RESTUANS', 'CULEX RESTUANS'], 1)
data_test = data_test.drop(['CULEX SALINARIUS', 'CULEX TARSALIS', 'CULEX TERRITANS', 'UNSPECIFIED CULEX'], 1)
data = data.drop(['CULEX SALINARIUS', 'CULEX TARSALIS', 'CULEX TERRITANS', 'UNSPECIFIED CULEX'], 1)
data_test = data_test.drop('date', 1)
data = data.drop('NumMosquitos', 1)
data_test = data_test.drop('year', 1)
data = data.drop('year', 1)

In [192]:
data = data.reindex_axis(sorted(data.columns), axis=1)
data_test = data_test.reindex_axis(sorted(data_test.columns), axis=1)

In [193]:
print (data.info())
print (data_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4616 entries, 2007-05-29 to 2013-09-26
Data columns (total 24 columns):
DayofYear       4616 non-null int64
Trapp           4616 non-null int64
WnvPresent      4616 non-null int64
Year            4616 non-null int64
avgspeed        4616 non-null float64
cool            4616 non-null int64
coollast30      4616 non-null int64
coollast7       4616 non-null int64
coollast90      4616 non-null int64
depart          4616 non-null int64
dewpoint        4616 non-null int64
heat            4616 non-null int64
preciplast30    4616 non-null float64
preciplast7     4616 non-null float64
preciplast90    4616 non-null float64
preciptotal     4616 non-null float64
resultdir       4616 non-null int64
resultspeed     4616 non-null float64
sealevel        4616 non-null float64
stnpressure     4616 non-null float64
tavg            4616 non-null int64
tmax            4616 non-null int64
tmin            4616 non-null int64
wetbulb         4616 non-null int64
dtypes: float64(8), int64(16)
memory usage: 901.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 116293 entries, 6/11/08 to 10/2/14
Data columns (total 24 columns):
DayofYear       116293 non-null int64
Id              116293 non-null int64
Trapp           116293 non-null int64
Year            116293 non-null int64
avgspeed        116293 non-null float64
cool            116293 non-null int64
coollast30      116293 non-null int64
coollast7       116293 non-null int64
coollast90      116293 non-null int64
depart          116293 non-null int64
dewpoint        116293 non-null int64
heat            116293 non-null int64
preciplast30    116293 non-null float64
preciplast7     116293 non-null float64
preciplast90    116293 non-null float64
preciptotal     116293 non-null float64
resultdir       116293 non-null int64
resultspeed     116293 non-null float64
sealevel        116293 non-null float64
stnpressure     116293 non-null float64
tavg            116293 non-null int64
tmax            116293 non-null int64
tmin            116293 non-null int64
wetbulb         116293 non-null int64
dtypes: float64(8), int64(16)
memory usage: 22.2+ MB
None

In [194]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import log_loss, accuracy_score
from collections import Counter

In [195]:
X = data.drop(['WnvPresent'], axis=1)
y = data[['WnvPresent']]

In [196]:
X.head()

,DayofYear,Trapp,Year,avgspeed,cool,coollast30,coollast7,coollast90,depart,dewpoint,...,preciplast90,preciptotal,resultdir,resultspeed,sealevel,stnpressure,tavg,tmax,tmin,wetbulb
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-29,149,2,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,7,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,15,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,45,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65
2007-05-29,149,46,2007,6.5,9,35,31,0,10,58,...,0.0,0.0,18,5.8,30.11,29.39,74,88,60,65

In [197]:
y.head()

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [198]:
sample = pd.DataFrame()
sample['Id'] = data_test['Id']
sample.head()

         Id
Date
6/11/08   1
6/11/08   2
6/11/08   3
6/11/08   4
6/11/08   5

In [199]:
data_test = data_test.drop('Id', 1)

### Simple Decision Tree

In [200]:
dt = DecisionTreeClassifier()
dt.fit(X, y)
dt_pred = dt.predict(data_test)
dt_prob = dt.predict_proba(data_test)[:,1]
dt_nodes = dt.tree_.node_count
print ('Decision Tree')
print ('Number of Nodes: ', str(dt_nodes))
sample['WnvPresent_DecisionTree'] = dt_prob

Decision Tree
('Number of Nodes: ', '1303')

In [201]:
sample.head()

         Id  WnvPresent_DecisionTree
Date
6/11/08   1                      0.0
6/11/08   2                      0.0
6/11/08   3                      0.0
6/11/08   4                      0.0
6/11/08   5                      0.0

### AdaBoost Classifier

In [202]:
adaboost = AdaBoostClassifier(
            base_estimator=DecisionTreeClassifier(max_depth=1), 
            algorithm='SAMME', n_estimators=1000, random_state=100)
adaboost.fit(X, y)
ada_pred = adaboost.predict(data_test)
ada_pred_proba = adaboost.predict_proba(data_test)[:,1]
print ('AdaBoost')
sample['WnvPresent_Ada'] = ada_pred_proba
sample.head()

AdaBoost

         Id  WnvPresent_DecisionTree  WnvPresent_Ada
Date
6/11/08   1                      0.0        0.364382
6/11/08   2                      0.0        0.364382
6/11/08   3                      0.0        0.364382
6/11/08   4                      0.0        0.364382
6/11/08   5                      0.0        0.364382

### Gradient Boost Classifier

In [203]:
gbc = GradientBoostingClassifier(
            max_depth=1, warm_start=True, 
            n_estimators=1000, random_state=100)
gbc.fit(X, y)
gbc_pred = gbc.predict(data_test)
gbc_pred_proba = gbc.predict_proba(data_test)[:,1]
print ('Gradient Boost')
sample['WnvPresent_gradientboost'] = gbc_pred_proba
sample.head()

Gradient Boost

         Id  WnvPresent_DecisionTree  WnvPresent_Ada  WnvPresent_gradientboost
Date
6/11/08   1                      0.0        0.364382                  0.000556
6/11/08   2                      0.0        0.364382                  0.000556
6/11/08   3                      0.0        0.364382                  0.000556
6/11/08   4                      0.0        0.364382                  0.000556
6/11/08   5                      0.0        0.364382                  0.000556

### XGBoost

In [204]:
import xgboost as xgb

In [205]:
params = {'objective':'binary:logistic', 'max_depth':2, 'silent':1, 'eta':1}
num_rounds = 5
dtrain = xgb.DMatrix(X, label=y)
dtest = xgb.DMatrix(data_test)

In [206]:
boosted = xgb.train(params, dtrain, num_rounds)

In [207]:
# watchlist = [(dtest, 'Test'), (dtrain, 'Train')]
# boosted = xgb.train(params, dtrain, num_rounds, watchlist)

In [208]:
preds_prob = boosted.predict(dtest)
sample['WnvPresent_xgboost'] = preds_prob
sample.head()

,Id,WnvPresent_DecisionTree,WnvPresent_Ada,WnvPresent_gradientboost,WnvPresent_xgboost
Date,,,,,
6/11/08,1,0.0,0.364382,0.000556,0.003888
6/11/08,2,0.0,0.364382,0.000556,0.003888
6/11/08,3,0.0,0.364382,0.000556,0.003888
6/11/08,4,0.0,0.364382,0.000556,0.003888
6/11/08,5,0.0,0.364382,0.000556,0.003888

In [209]:
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import StratifiedKFold
from sklearn.cross_validation import cross_val_score
from sklearn.metrics import auc

In [210]:
print (X.shape)
print (y.shape)
y.head()

(4616, 23)
(4616, 1)

            WnvPresent
Date
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0
2007-05-29           0

In [ ]:
# gbm = xgb.XGBClassifier()
# parameters = {'n_jobs':[-1,4], 
#               'objective':['binary:logistic'],
#               'learning_rate': [0.05, 0.1, 0.3, 1], 
#               'max_depth': [2, 6, 9, 12],
#               'min_child_weight': [11],
#               'silent': [1],
#               'subsample': [0.8, 0.9, 1.0],
#               'colsample_bytree': [0.7, 0.9, 1.0],
#               'n_estimators': [5,10,100,100], 
#               }
# clf = GridSearchCV(gbm, parameters, n_jobs=5, 
#                    cv=StratifiedKFold(y['WnvPresent'], n_folds=5, shuffle=True), 
#                    scoring='roc_auc', refit=True)
# clf.fit(X, y)
# # print (clf.best_params_)
# # print (clf.best_estimator_)
# predictions = clf.best_estimator_.predict_proba(data_test)[:,1]
# print (predictions)

In [211]:
sample['WnvPresent_xgboost_cv'] = predictions
sample.head()

,Id,WnvPresent_DecisionTree,WnvPresent_Ada,WnvPresent_gradientboost,WnvPresent_xgboost,WnvPresent_xgboost_cv
Date,,,,,,
6/11/08,1,0.0,0.364382,0.000556,0.003888,0.004508
6/11/08,2,0.0,0.364382,0.000556,0.003888,0.004508
6/11/08,3,0.0,0.364382,0.000556,0.003888,0.004508
6/11/08,4,0.0,0.364382,0.000556,0.003888,0.004508
6/11/08,5,0.0,0.364382,0.000556,0.003888,0.004508

In [212]:
sample.shape

(116293, 6)

In [213]:
sample_xgboost = sample.copy(deep=True)
sample_xgboost = sample_xgboost.drop(['WnvPresent_DecisionTree', 'WnvPresent_Ada', 'WnvPresent_gradientboost', 'WnvPresent_xgboost_cv'], 1)

In [214]:
sample_xgboost.set_index('Id', inplace=True)

In [215]:
sample_xgboost = sample_xgboost.sort_index(axis=1, ascending=True)

In [216]:
sample_xgboost.head()

    WnvPresent_xgboost
Id
1             0.003888
2             0.003888
3             0.003888
4             0.003888
5             0.003888

In [217]:
sample_xgboost = sample_xgboost.rename(columns={'WnvPresent_xgboost': 'WnvPresent'})
sample_xgboost.head()

    WnvPresent
Id
1     0.003888
2     0.003888
3     0.003888
4     0.003888
5     0.003888

In [218]:
sample_xgboost.to_csv('sample_xgboost.csv')

In [77]:
# labels = dtest.get_label()
# preds = preds_prob > 0.5 
# correct = 0 
# for each in range(len(preds)):
#     if (labels[each]==preds[each]):
#         correct += 1
# print ('Correctly predicted: ', str(correct), '/', str(len(preds)))

In [78]:
# from xgboost.sklearn import XGBClassifier 
# boost = XGBClassifier(**params).fit(X_train, y_train)

In [79]:
# acc = accuracy_score(y_test, preds)
# acc